@charset "UTF-8";
/* 브라우저 크기가 1023px 이하일때 */
/* 브라우저 크기가 1200px 이하일때 */
/* 브라우저 크기가 1920px 이하일때 */
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}
.gnb__wrapper {
  width: 100%;
  height: 90px;
  background-color: #192033;
  font-size: 1rem;
  display: flex;
  position: relative;
}
.gnb__wrapper .gnb__wrap {
  display: flex;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .gnb__wrapper .gnb__wrap {
    width: 90%;
  }
}
@media (max-width: 1920px) {
  .gnb__wrapper .gnb__wrap {
    width: 90%;
  }
}
.gnb__wrapper .gnb__wrap .gnb__logo {
  display: flex;
  align-items: center;
  margin-right: 14%;
}
.gnb__wrapper .gnb__wrap .gnb__logo .gnb__logo--img {
  width: 190px;
}
.gnb__wrapper .gnb__wrap .gnb__nav {
  margin-left: auto;
  height: 100%;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__toggle {
  display: none;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list {
  width: 72%;
  display: flex;
  color: #192033;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link {
  margin-right: 105px;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link:last-child {
  margin-right: 0;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link .gnb__nav--link-title {
  height: 90px;
  line-height: 90px;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link .gnb__nav--link-title:hover a {
  color: #fff;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link .gnb__nav--link-title a {
  color: #9F9F9F;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link .gnb__nav--submenu {
  visibility: hidden;
  width: 100%;
  background-color: #9F9F9F;
  transition: all ease-in 0.1s;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link .gnb__nav--submenu.active {
  z-index: 100;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link .gnb__nav--submenu.active::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  display: block;
  width: 100%;
  max-width: 1920px;
  height: 0;
  background-color: #EFF3F8;
  transition: all ease-in-out 0.3s;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link .gnb__nav--submenu .submenu--list {
  position: absolute;
  display: flex;
  z-index: 100;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link .gnb__nav--submenu .submenu--list .submenu--link {
  height: 25px;
  cursor: pointer;
  padding-top: 21px;
  line-height: 25px;
  margin-right: 20px;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link .gnb__nav--submenu .submenu--list .submenu--link a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #323232;
  font-size: 0.938rem;
  transition: ease-in;
  transition-delay: 0.1s;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link .gnb__nav--submenu .submenu--list .submenu--link a:hover {
  color: red;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link:hover .active {
  visibility: visible;
  z-index: 100;
}
.gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link:hover .active::before {
  content: "";
  height: 70px;
}
@media (max-width: 1023px) {
  .gnb__wrapper {
    height: 60px;
    z-index: 100;
  }
  .gnb__wrapper .gnb__wrap {
    width: 100%;
    margin: 0 20px;
  }
  .gnb__wrapper .gnb__wrap .gnb__logo .gnb__logo--img {
    width: 150px;
  }
  .gnb__wrapper .gnb__wrap .gnb__nav {
    width: 92%;
    margin-left: 0;
  }
  .gnb__wrapper .gnb__wrap .gnb__nav .gnb__toggle {
    display: block;
    z-index: 90;
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
  }
  .gnb__wrapper .gnb__wrap .gnb__nav .gnb__toggle img {
    width: 100%;
    cursor: pointer;
  }
  .gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list {
    background-color: #192033;
    position: absolute;
    margin-top: 60px;
    width: 100%;
    visibility: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 20;
  }
  .gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link {
    width: 100%;
  }
  .gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link .gnb__nav--link-title a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .gnb__wrapper .gnb__wrap .gnb__nav .gnb__nav--list .gnb__nav--link .gnb__nav--submenu {
    display: none;
  }
}/*# sourceMappingURL=header.css.map */